<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>학생관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
                    <li class="breadcrumb-item active">학생관리</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"><h5 class="card-title">학생관리</h5></div>
                                <div class="col-6"><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">신규 학생 등록</button></div>
                            </div>

                            <!-- Table with stripped rows -->
                            <table class="table table-hover table-striped" id="studentList">
                                <thead>
                                <tr>
                                    <th scope="col">구분</th>
                                    <th scope="col">이름</th>
                                    <th scope="col">가입일</th>
                                    <th scope="col">학교명</th>
                                    <th scope="col">생년월일</th>
                                    <th scope="col">성별</th>
                                    <th scope="col">부모번호</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="student:${studentList.content}">
                                    <td th:text="${student.stdGb}"></td>
                                    <td><a th:onclick="'openStudentDetail(\'' + ${student.stdId} + '\')'" href="#none" th:text="${student.stdNm}"></a></td>
                                    <td th:text="${student.regDt}"></td>
                                    <td th:text="${student.stdSchool}"></td>
                                    <td th:text="${student.stdBthDt}"></td>
                                    <td th:text="${student.stdGender}"></td>
                                    <td th:text="${student.prtCelNo}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                            <!-- Pagination with icons -->
                            <nav aria-label="Page navigation example" th:with="
                                pageNumber = ${studentList.pageable.pageNumber},
                                pageSize = ${studentList.pageable.pageSize},
                                totalPages = ${studentList.totalPages},
                                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                tempEndPage = ${startPage + pageSize - 1},
                                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">
                                <ul class="pagination">
                                    <li th:classappend="${pageNumber == 1 ? 'disabled' : ''}" class="page-item">
                                        <a class="page-link" th:href="${pageNumber == 1} ? '#' : @{/student(page=${pageNumber - 1})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber} ? 'active'" class="page-item">
                                        <a th:text="${page}" class="page-link" th:href="@{/student(page=${page})}"></a>
                                    </li>
                                    <li th:classappend="${pageNumber == endPage} ? 'disabled'" class="page-item">
                                        <a class="page-link" th:href="${pageNumber == endPage} ? '#' : @{/student(page=${pageNumber + 1})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav><!-- End Pagination with icons -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->

    // 신규 학생 등록 모달
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">신규 학생 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:id="student-save-form">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">이름</label>
                            <div class="col-sm-10">
                                <input type="text" id="stdNm" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">생년월일</label>
                            <div class="col-sm-10">
                                <input type="text" id="stdBthDt" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">학교</label>
                            <div class="col-sm-10">
                                <input type="text" id="stdSchool" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">성별</label>
                            <div class="col-sm-10">
                                <input type="text" id="stdGender" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">학부모 휴대폰번호</label>
                            <div class="col-sm-10">
                                <input type="text" id="prtCelNo" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" th:id="student-save-btn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // 신규 학생 등록 모달 저장 버튼 클릭 시
            $('#student-save-btn').click(function () {

                var newStudent = {
                    'stdNm' : $('#stdNm').val(),
                    'stdBthDt' : $('#stdBthDt').val(),
                    'stdSchool' : $('#stdSchool').val(),
                    'stdGender' : $('#stdGender').val(),
                    'prtCelNo' : $('#prtCelNo').val()
                }

                $.ajax({
                    type:'POST',
                    url:'/student',
                    contentType:'application/json',
                    data:JSON.stringify(newStudent),
                    dataType:'json',
                    success:function (data) {
                        console.log("성공");
                        console.log(data.data);
                    }
                })
            });
        })
    </script>

</div>
</html>