<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<!--headFragment 선언-->
	<th:block th:fragment="teacher-head">
		<head>
		  	<meta charset="utf-8">
			<meta content="width=device-width, initial-scale=1.0" name="viewport">
			
			<title>WAKEUP :: 선생님</title>
			<meta content="" name="description">
			<meta content="" name="keywords">
			
			<!-- Favicons -->
			<link href="img/favicon.png" rel="icon">
			<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
			
			<!-- Google Fonts -->
			<link href="https://fonts.gstatic.com" rel="preconnect">
			<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
			
			<!-- Vendor CSS Files -->
			<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
			<link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
			<link href="vendor/quill/quill.snow.css" rel="stylesheet">
			<link href="vendor/quill/quill.bubble.css" rel="stylesheet">
			<link href="vendor/remixicon/remixicon.css" rel="stylesheet">
			<link href="vendor/simple-datatables/style.css" rel="stylesheet">
			
			<!-- Template Main CSS File -->
			<link href="css/style.css" rel="stylesheet">
		</head>
	</th:block>
</html>